@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    border-color: #e3e3e3;
  }

  html,
  body,
  #root {
    @apply min-h-screen overscroll-none;
    background-color: #f7f6f4;
    color: #001930;
  }

  body {
    @apply font-sans antialiased;
  }
}
